{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header bg-light">
    <h2><i class="fa-solid fa-chart-gantt"></i> Chart of Accounts</h2>
</div>

<div class="col" style="z-index:999">
    {% regroup objects by typeaccount__typeaccount as account_list %}
    <ul class="list-group list-group-flush">
        {% for c in account_list %}
        <li class="list-group-item"><span class="font-weight-bold">{{ c.grouper }}</span>
            {% regroup c.list by sintetic as sintetic_list %}
            <ul class="list-group list-group-flush">
                {% for s in sintetic_list %}
                <li class="list-group-item"><span class="font-weight-normal">{{ s.grouper }}</span>
                         {% regroup s.list by id as id_list %}
                            {% for j in id_list %}       
                                <a class="btn btn-primary btn-sm" href="/finance/accounts/sintetic_update/{{ j.grouper }}"><i class="fas fa-edit text-light"></i></a>
                                <a class="btn btn-danger btn-sm" href="/finance/accounts/sintetic_delete/{{ j.grouper }}"><i class="fas fa-trash-alt text-light"></i></a>
                            {% endfor %} 
                    <ul class="list-group list-group-flush">
                    {% for a in s.list %}
                        <li class="list-group-item">
                        {% if a.analitic__analitic != None %} 
                            <span class="font-weight-light">{{ a.analitic__analitic }}</span>
                            <a href="/finance/accounts/analitic_update/{{ a.analitic__id }}"><i class="fas fa-edit text-primary"></i></a>
                            <a href="/finance/accounts/analitic_delete/{{ a.analitic__id }}"><i class="fas fa-trash-alt text-danger"></i></a>
                        {% else %}
                            <span class="font-weight-light">Cadastrar Conta ANALÍTICA</span>
                        {% endif %}


                        </li>
                    {% endfor %}
                    </ul> 
                </li>
                {% endfor %}
            </ul>

        </li>
        {% endfor %}
    </ul>
</div>

<div style="bottom:50px; right:30px; position:fixed; z-index:1000">
    <div class="btn-group dropup position-relative float-right">
        <button type="button" class="btn btn-primary btn-circle btn-xl rounded-circle text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-plus"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item btn btn-secondary" href="{% url 'accounts:sintetic_new' %}"><i class="fa-solid fa-plus text-primary"></i> Sintetic</a>
            <a class="dropdown-item btn btn-secondary" href="{% url 'accounts:analitic_new' %}"><i class="fa-solid fa-plus text-primary"></i> Analitic</a>
        </div>
    </div>
</div>

{% endblock content %}