{% extends 'base.html' %}

{% block content %}

    <div class="col">
        <h1 class="text-dark">Sintetic Account - {{sintetic.sintetic}} </h1>
        <form method="post">
        {% csrf_token %}
        {{ form }}
        <br/>
        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-circle-check"></i> Save</button>
        <a class="btn btn-danger" href="{% url 'accounts:accounts'%}"><i class="fa-solid fa-rotate-left"></i> Voltar</a>
        </form>
    </div>
    
{% endblock content %}