<!-- https://getbootstrap.com/docs/4.0/examples/starter-template/ -->
<!-- https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logofav.png' %}" alt="Logo Kontrole" class="align-top" width="30" height="30">
        Kontrole
    </a>

    {% if user.id %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto d-flex">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Basics</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{ url 'persons:persons' %}">Persons</a>
                  <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Finance</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'entrys:entrys' %}">Entrys</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'accounts:accounts' %}">Accounts</a>
                  <a class="dropdown-item" href="{% url 'entrys:document_type' %}">Document Type</a>
                  <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>




        <div class="dropdown show">
            <a class="ml-auto text-light text-decoration-none dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-circle-user"></i> 
                {% if user.name %}
                    {{user.name}}
                {% else %}
                    {{user.email}}
                {% endif %}
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
            </div>
          </div>
    </div>
    {% else %}

    <a type="button" class="btn btn-light ml-auto" href="{% url 'users:login' %}">LogIn</a>



    {% endif %}
</nav>