<!-- https://getbootstrap.com/docs/4.0/examples/starter-template/ -->
<!-- https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logofav.png' %}" alt="Logo Kontrole" class="align-top" width="30" height="30">
        Kontrole
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto d-flex">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Finance</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'accounts:accounts' %}">Accounts</a>
                  <a class="dropdown-item" href="{% url 'entrys:document_type' %}">Document Type</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>

        </ul>
        <a class="ml-auto text-light text-decoration-none" href=""><i class="fa-regular fa-circle-user"></i> 
        {% if user.name %}
            {{user.name}}
        {% else %}
            {{user.email}}
        {% endif %}
        </a>
    </div>
</nav>